[Unit]
Description=Telegram bot for calculating castle power for @chtwrsbot
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=<Enter Path Here>/
ExecStart=/usr/bin/python3.6 <Enter Path Here>/castlePowerCalculator.py
ExecStop=/bin/kill -s QUIT $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

